nav img {
  width: 40px;
}
.nav-link {
  color: aliceblue;
}
.nav-link:hover {
  color: #00b1b3 !important;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url("images/background.webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 23%;
}
#dl-nav {
  display: inline-block;
}
#dl-head {
  display: none;
}
.tab-content li span {
  color: #00c954;
}
#membership-image img{
  width: 120px ;
}
@media (max-width: 425px) {
  #home {
    padding-top: 4rem;
  }
  #dl-nav {
    display: none;
  }
  #dl-head {
    display: inline-block;
  }
  header {
    background-position: center top;
    /* margin-bottom: 50%; */
    /* margin-top:10px; */
    background-size: 33%;
  }
  #header-text {
    padding-bottom: 15px;
  }
  .card-deck {
    width: 100%;
    justify-content: center !important;
  }
  .carousel-item img{
    width:75% !important;
  }
  #membership-image img{
    width: 100px ;
  }
  
}
/* .carousel-caption{
  display: none;
  color: #00563F;
  font-weight: 600;
  font-size: 1.1em;
} */
/* .nav-link::after {
  content: "";
  width: 3%;
  height: 3px;
  background: #2bcd01;
   left: 0; 
  bottom: 12px;
  position: absolute;
} */
